{% extends 'base.html.twig' %}

{% block body %}
    <header class="app-header">
        Header

        <nav>
            <a href="{{ path('app_home') }}">Accueil</a>

            <a href="{{ path('app_post_index') }}">Articles</a>

            {% if app.user %}
                <a href="{{ path('app_logout') }}">Log out</a>
            {% else %}
                <a href="{{ path('app_login') }}">Log in</a>

                <a href="{{ path('app_register') }}">Sign in</a>
            {% endif %}
        </nav>
    </header>

    <main class="app-main">
        <!-- Flash messages -->
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {% if loop.first %}
                    <div class="app_alert {{ label }}">
                        {{ message | trans | capitalize }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}

        {% block main %}{% endblock %}
    </main>

    <footer class="app-footer">
        Footer
    </footer>
{% endblock %}
